/* going to use bootstrap */

body {
    width: 95vw;
    height: 95vh;
    background-color: black;
    overflow: hidden;
}

#game {
    height: 95vmin;
    width: 95vmin;
    margin: auto;
    display: flex;
}

