body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

#game {
    height: 100vmin;
    width: 100vmin;
    margin: auto;
    display: flex;
}

#chat-container {
  text-align: left;
  align-items: left;
  align-self: left;
  align-content: left;
  justify-content: left;
  justify-items: left;
  position: absolute;
  background-color: white;
}

#chat-box {

}

#chat-send {

}

#chat-input {

}

#messages {
  border: 1px solid;
}