body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(1, 1, 1);
    overflow: hidden;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

#chat-container {
  overflow-y: scroll;
}

#chat-message {
  font-family: Geneva, Verdana, sans-serif;
  color: white;
}


#game {
  height: 100vmin;
  width: 100vmin;
  padding: 1vmin;
}


#canvas {
  height: 98vmin;
  width: 98vmin;
  margin: auto;
}